/* ==================================================================                                 
    CSS PERSONAL NAMING CONVENTION: 
        General classes: pagename__classname (Can be applied to any div)
        Outmost classes: pagename_classname
        Inner classes:
            1 indent: pagename_-classname
            2 indent: pagename_--classname
            3 indent: pagename_---classname
                and so on...
    Sample HTML with applied names:
    <div class="pagename_classname">
        <div class="pagename_-classname">
            <div class="pagename_--classname">
                <div class="pagename_--classname">
                </div>
            </div>
        </div>
    </div>
    Group your page layout into important sections.
    Use a ascii-styled header comment to describe the section.
    For example below:
    //=====================================//
    //=====================================//
    //                                     //
    //          YOUR SECTION NAME          //
    //                                     //
    //=====================================//
    //=====================================//
    
===================================================================== */

/* ====================================== */
/* ====================================== */
/*                                        */
/*              GENERAL                   */
/*                                        */
/* ====================================== */
/* ====================================== */
.hea_fixed-elem{
    position: fixed;
    width: 100%;
    z-index: 2;
}
.hea_body-styles{
    height: 100%;
    width:100%;
}

.main__header{
    background-color: #F2EFFF;
}

.main__padd{
    padding: 0 1em;
}

.main__width{
    max-width: 1100px;
    min-width: 250px;
}

.main__width h2{
    font-size: 1.2rem;
    font-weight: 500;
}


/* DESKTOP: If the browser window is 900px or larger */
@media only screen and (min-width: 900px) {
    .main__padd{
        padding: 0 1em 0 2.5em;
    }

    .main__width h2{
        font-size: 1.35rem;
    }
}

/* ====================================== */
/* ====================================== */
/*                                        */
/*              HEADER BAR                */
/*                                        */
/* ====================================== */
/* ====================================== */

/* MOBILE: If the browser window is smaller than 900px */
.header{
    background-color: #FFFFFF;
    padding: 10px;
    width: 100%;
    border-bottom: 2px #bebebe solid;
    background-color: white;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.header svg{
    fill:#707070;
    cursor: pointer;
}

.header svg:hover{
    fill:#BF3D96;
    cursor: pointer;
}

.burger-and-header{
    padding-right: 0;
    display: flex;
    flex-wrap: nowrap;
}

    .logo{
        margin-left: 5px;
        display: flex;
        flex-wrap: nowrap;
    }

        .logo svg{
            margin-left: 5px;
        }

        .logo img{
            margin-left: 5px;
        }

.header-spacing{
    height: 50px;
}

.hea_other-icons{
    display: flex;
}

.left-icons{
    display: flex;
}

/* DESKTOP: If the browser window is 900px or larger */
@media only screen and (min-width: 900px) {
    .header{
        padding: 15px;
    }

    .header-spacing{
        height: 60px;
    }
    
    .burger-and-header{
        padding-right: 6em;
    }

    .left-icons{
        display: flex;
        flex-direction: row;
        min-width: 200px;
        width: 100%;
        justify-content: space-between;
        margin-right: 0.5em;
    }

    .left-icons svg{
        margin-right: 1em;
    }
}



/* ====================================== */
/* ====================================== */
/*                                        */
/*              DRAWER NAV                */
/*                                        */
/* ====================================== */
/* ====================================== */

/* MOBILE: If the browser window is smaller than 900px */

.drawer{
    background-color: #5C5679;
    color: white;
    font-family: 'Calibri', sans-serif;
    height: 100vh;
    width: 75%;
    transform: translateX(-100%);
    transition: transform 0.5s;
    position: fixed;
}

.drawer.show{
    display: block;
    transform: translateX(0);
    transition: transform 0.5s;
}

.drawer-padd{
    padding: 10px 0 10px 0;
}

.drawer-padd ul{
    list-style-type: none;
}

.drawer-padd h4{
    margin-bottom: 10px;
    margin-left: 10px;
}

.drawer--header svg{
    fill: white;
    transform: translate(-10px,-1px);
    width: 1.2em;
    height: 1.2em;
}

.drawer--header svg:hover{
    fill:#d379b7;
}

.drawer--header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.drawer li{
    padding: 10px;
    padding-left: 30px;
}

.drawer li a{
    font-size: 0.9rem;
    text-decoration: none;
    color: white;
}

.drawer li:hover{
    background-color: #3c3779;
}

.selected li{
    background-color: blue;
}

/* DESKTOP: If the browser window is 900px or larger */
@media only screen and (min-width: 900px) {
    .drawer{
        min-width: 200px;
        max-width: 200px;
        width: 15%;
        transform: translateX(0);
    }

    .drawer.show{
        transform: translateX(-100%);
    }

}


/* ====================================== */
/* ====================================== */
/*                                        */
/*                Side Nav                */
/*                                        */
/* ====================================== */
/* ====================================== */

/* MOBILE: If the browser window is smaller than 900px */
#main {
    transition: margin-left .5s;
    margin-left: 0px;
    font-family: 'Calibri', sans-serif;
}

/* DESKTOP: If the browser window is 900px or larger */
@media only screen and (min-width: 900px) {
    #main {
        margin-left: 200px;
    }
}

/* ====================================== */
/* ====================================== */
/*                                        */
/*          HEADER POP-UP/DRAWER          */
/*                                        */
/* ====================================== */
/* ====================================== */

/* MOBILE: If the browser window is smaller than 900px */
.hea_mobile-drawer{
    font-family: Calibri, sans-serif;
    background-color: #ede9ff;
    border: 3px solid blueviolet;
    height: 0;
    opacity: 0;
}

.hea_mobile-drawer.appear{
    min-height: 3em;
    padding: 0.5em;
    opacity: 100%;
}

.hea-ico-selected{
    display: inline-block;
}

.hea-ico-selected svg{
    fill:blueviolet;
}

.hea-ico-selected::before{
    content: "";
    z-index: 5;
    position:absolute;
    display: block;
    border-left:9px solid transparent;
    border-right:9px solid transparent;
    border-bottom: 15px solid blueviolet;
    transform: translate(1px, 26px);
}

.hea-ico-selected::after{
    content: "";
    z-index: 5;
    position:absolute;
    display: block;
    border-left:10px solid transparent;
    border-right:10px solid transparent;
    border-bottom: 20px solid #ede9ff;
    transform: translateY(3px);
}

/* TABLET: If the browser window is 500px or larger (For text adjustment)*/
@media only screen and (min-width: 500px) {
}

/* DESKTOP: If the browser window is 900px or larger */
@media only screen and (min-width: 900px) {
    .hea-ico-selected::before{
        border-left:12px solid transparent;
        border-right:12px solid transparent;
        border-bottom: 25px solid blueviolet;
        transform: translate(-2px,23px);
    }
    
    .hea-ico-selected::after{
        border-left:10px solid transparent;
        border-right:10px solid transparent;
        border-bottom: 20px solid #ede9ff;
        transform: translateY(3px);
    }
}


/* ====================================== */
/* ====================================== */
/*                                        */
/*              SEARCH BAR                */
/*                                        */
/* ====================================== */
/* ====================================== */

/* MOBILE: If the browser window is smaller than 900px */

.hea_search-bar-form{
    display: inline;
}

input.hea_search-bar {
    position: absolute;
    border-radius: 50px;
    border: 0;
    border: 1px solid #A3A3A3;
    height: 2em;
    outline: 0;
    padding: 0 1em;
    transform: translate(-2.25em, -1px);
    width: 0;
    pointer-events: none;
    opacity: 0;
    z-index: 1;
}

input.hea_search-bar:focus {
    border: 3px solid #9797CA;
}

.hea_search-bar-form svg{
    left:2em;
    top:0.1em;
    z-index: 5;
}

.hea_search-bar-form.hea-ico-selected input{
    background-color: rgba(255, 192, 203, 0);
    pointer-events: auto;
    opacity: 100%;
    border: 0;
    width: 95vw;
    border-radius: 0;
    position: absolute;
    top:4.5em;
    left:2.75em;
}

/* TABLET: If the browser window is 500px or larger (For text adjustment)*/
@media only screen and (min-width: 500px) {
}

/* DESKTOP: If the browser window is 900px or larger */
@media only screen and (min-width: 900px) {

    .hea_search-bar-form{
        display: inline;
    }

    .hea_search-bar-form input{
        padding-left: 2.25em;
    }

    .hea_search-bar{
        justify-content: start;
    }

    .hea_search-bar-form.hea-ico-selected svg{
        fill:#707070;
        z-index: 10;
    }

    .hea_search-bar-form.hea-ico-selected::after{
        content: '';
        opacity: 0;
    }

    .hea_search-bar-form.hea-ico-selected::before{
        content: '';
        opacity: 0;
    }

    .hea_search-bar-form input{
        transform: translate(-3.25em, -1px);
        opacity: 50%;
        width:fit-content;
        pointer-events: auto;
        position: absolute;
        border: 1px solid #A3A3A3;
        background-color: white;
        border-radius: 50px;
        top:inherit;
        left:inherit;
    }

    .hea_search-bar-form input:focus{
        border: 3px solid #9797CA;
    }

    .hea_search-bar-form.hea-ico-selected input{
        transform: translate(-3.25em, -1px);
        opacity: 50%;
        width:fit-content;
        pointer-events: auto;
        position: absolute;
        border: 1px solid #A3A3A3;
        background-color: white;
        border-radius: 50px;
        top:inherit;
        left:inherit;
    }

    .hea_search-bar-form.hea-ico-selected input:focus{
        border: 3px solid #9797CA;
    }

    /*
        input.hea_search-bar {
            transform: translate(-3.25em, -1px);
            opacity: 50%;
            width:fit-content;
            pointer-events: auto;
            position: absolute;
        }
    */
}
